# Ignore files and directories that should not be included in the Docker build context
.git
.gitignore
.dockerignore

# Secrets
.env

# Logs
*.log

# Editor
*.swp
*.swo

# For macOS users
.DS_Store

# Node
node_modules
